In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
dataframe = pd.read_csv("superheroes_nlp_dataset.csv")

print(dataframe.head())

            name               real_name               full_name  \
0        3-D Man     Delroy Garrett, Jr.     Delroy Garrett, Jr.
1  514A (Gotham)             Bruce Wayne                     NaN
2         A-Bomb  Richard Milhouse Jones  Richard Milhouse Jones
3             Aa                      Aa                     NaN
4     Aaron Cash              Aaron Cash              Aaron Cash

  overall_score                                       history_text  \
0             6  Delroy Garrett, Jr. grew up to become a track ...
1            10  He was one of the many prisoners of Indian Hil...
2            20   Richard "Rick" Jones was orphaned at a young ...
3            12  Aa is one of the more passive members of the P...
4             5  Aaron Cash is the head of security at Arkham A...

                                         powers_text  intelligence_score  \
0                                                NaN                  85
1                                                NaN                 100
2    On rare occasions, and through unusual circu...                  80
3                                                NaN                  80
4                                                NaN                  80

   strength_score  speed_score  durability_score  ...  has_flight  \
0              30           60                60  ...         0.0
1              20           30                50  ...         0.0
2             100           80               100  ...         0.0
3              50           55                45  ...         0.0
4              10           25                40  ...         0.0

   has_accelerated_healing has_weapons_master has_intelligence has_reflexes  \
0                      0.0                0.0              0.0          0.0
1                      0.0                0.0              0.0          1.0
2                      1.0                0.0              0.0          1.0
3                      0.0                0.0              0.0          0.0
4                      0.0                1.0              0.0          0.0

  has_super_speed has_durability has_stamina has_agility has_super_strength
0             1.0            0.0         0.0         0.0                1.0
1             0.0            1.0         0.0         0.0                1.0
2             1.0            1.0         1.0         1.0                1.0
3             0.0            0.0         0.0         0.0                0.0
4             0.0            0.0         0.0         0.0                0.0

[5 rows x 81 columns]

In [4]:
# print(dataframe.dtypes)
# print(dataframe.columns)
# print(dataframe.info())
# print(dataframe.describe())

In [ ]:
gender_cleaned = dataframe["gender"].str.lower()
female_heroes = dataframe[gender_cleaned =="female"]

# print(female_heroes)
sorted_female_heroes = female_heroes.sort_values(by=["overall_score","combat_score","strength_score","intelligence_score"],ascending=False).head(10)

sorted_female_heroes[["name","real_name", "overall_score","combat_score","strength_score","intelligence_score"]]

,name,real_name,overall_score,combat_score,strength_score,intelligence_score
845,Man Of Miracles,Mother Of Existence,∞,100,100,100
376,Death Of The Endless,Death,∞,50,100,100
500,Gamora,Gamora Zen Whoberi Ben Titan,9,100,85,90
1214,Spitfire,Jacqueline Falsworth,9,100,30,90
20,Agent 13 (MCU),Sharon Carter,9,100,20,95
179,Black Canary (Injustice),Dinah Laurel Lance,9,100,20,95
871,Melinda May (MCU),Melinda May,9,100,10,100
276,Catwoman (Injustice),Selina Kyle,9,100,10,95
570,Harumi,Harumi,9,100,10,95
598,Hinata Hyūga,Hinata Hyūga,9,100,10,90

In [11]:
total = len(dataframe)
female_count = len(female_heroes)
percentage = round((female_count / total) * 100, 2)
print(f"{percentage}% of the superheroes are women.")

NameError: name 'female_heroes' is not defined

In [10]:
import matplotlib.pyplot as plt

# Sayılar
female_count = len(female_heroes)
unknown_count = len(dataframe[dataframe["gender"]=="Unknown"])
male_count = len(dataframe) - female_count - unknown_count
counts = [female_count, male_count, unknown_count]
labels = ['Female', 'Male', 'Unknown']
colors = ['#FF69B4', "#31ADFA", "#5FC21E"]  # pembe - mavi tonları

# Pasta Grafiği
plt.figure(figsize=(6,6))
plt.pie(counts, labels=labels, autopct='%1.1f%%', colors=colors, startangle=90)
plt.title('Gender Distribution of Superheroes')
plt.axis('equal')  # Daireyi tam yuvarlak yapar
plt.show()

NameError: name 'female_heroes' is not defined